<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{HTTP_HOST} ^(www\.)?quizz-du-berger\.fr$ [NC]
  RewriteRule ^(.*)$ https://www.quizz-du-berger.com/$1 [R=301,L]
</IfModule>
<IfModule mod_rewrite.c>
  Options -MultiViews
  RewriteEngine On
  RewriteBase /
  RewriteRule ^result/(.*)$ /result/(.*)$ [R=301,NC,L]
  RewriteRule ^all-questions/(.*)$ /all-questions/(.*)$ [R=301,NC,L]
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
