* {
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito Sans;
}

.background-container {
}

.title {
}

.inscription-container {
}

.inscription-sub-container {
}

#sign-up-form {
  display: flex;
  flex-direction: column;
}

#sign-up-form > label {
  margin-top: 10px;
}

#sign-up-form > button {
  margin-top: 25px;
}

#sign-in-form {
  display: flex;
  flex-direction: column;
}

#sign-in-form > label {
  margin-top: 10px;
}

#sign-in-form > button {
  margin-top: 25px;
}

.theme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.theme-label {
  margin-right: 10px;
  font-size: 30px;
}

.theme-checkbox {
  margin-bottom: 40px;
  height: 20px;
  width: 20px;
}
